.weather {
  padding: 1.5em;
  width: 30vw;
  height: calc(100vh - 3em);
  color: white;
  @media screen and (max-width: 600px) {
    width: 100vw;
  }
  &-sunny {
    background-color: #ebbc4f;
  }
  &--btn {
    background-color: white;
    border: none;
    font-size: 1.5em;
    width: 100%;
    padding: 0.25em;
    margin-bottom: 0.75em;
    color: #856212;
    text-align: left;
    border-radius: 0.5em;
  }
}
.info {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ffd87c;
  padding-bottom: 0.5em;
  &--text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &--temp {
    font-size: 3em;
  }
  &--icon {
    height: calc(100vh / 4.2);
    width: 40%;
  }
}

.predictions {
  padding-top: 1.5em;
  width: 100%;
  &--cell {
    width: calc(100% / 3);
    padding-bottom: 1.5em;
    & .info--icon {
      height: 1em;
      width: 2.5em;
      display: block;
    }
    &-center {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    &-last {
      text-align: right;
    }
  }
}
.sup {
  position: relative;
  bottom: 1ex;
  font-size: 70%;
}
