.cityInfos {
  width: 70vw;
  padding: 1.5em;
  &--title {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 0.3em;
    color: rgb(255, 249, 242);
    & span {
      font-weight: 200;
    }
  }
  &-Clear {
    background-color: #fce57e;
  }
  &-Cloudy {
    background-color: #58585873;
  }
  &-Snow {
    background-color: #bbb9bc83;
  }
  &-Drizzle {
    background-color: #62739979;
  }
  &-ThunderStorm {
    background-color: #2b1c5780;
  }
  &-Rain {
    background-color: #3b4b6f73;
  }
  &-Fog {
    background-color: #c3c8cb73;
  }
  @media screen and (max-width: 600px) {
    &-Clear {
      background-color: #ebbc4f;
    }
    &-Cloudy {
      background-color: #585858;
    }
    &-Snow {
      background-color: #a9a5aa;
    }
    &-Drizzle {
      background-color: #627399;
    }
    &-ThunderStorm {
      background-color: #2b1c57;
    }
    &-Rain {
      background-color: #3b4b6f;
    }
    &-Fog {
      background-color: #9fa5a8;
    }
    width: 100vw;
    padding-top: 0;
  }
}
.hero {
  height: calc(100vh / 4);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 1em;
  &--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &--title {
    font-size: 3em;
    color: white;
  }
  &--subtitle {
    font-size: 3em;
    color: white;
  }
}
