.cityInfos {
  width: 70vw;
  background-color: #fce57e;
  padding: 1.5em;
  &--title {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 0.3em;
    color: rgb(255, 249, 242);
    & span {
      font-weight: 200;
    }
  }
  @media screen and (max-width: 600px) {
    background-color: #ebbc4f;
    width: 100vw;
    padding-top: 0;
  }
}
.hero {
  height: calc(100vh / 4);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 1em;
  &--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &--title {
    font-size: 3em;
    color: white;
  }
  &--subtitle {
    font-size: 3em;
    color: white;
  }
}
